<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/resources :: head('Lista Ricette')"></head>
<body>
<nav th:replace="fragments/navbar :: topNavbar('ricette')"></nav>
<h1>Lista delle Ricette</h1>
<div class="container">
    <div class="alert alert-info" th:if="${listaRicette.size() == 0}">
        The list is empty
    </div>
    <table class="table" th:unless="${listaRicette.size() == 0}">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Porzioni</th>
            <th>Tempo</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ricetta : ${listaRicette}">
            <td th:text="${ricetta.title}"></td>
            <td th:text="${ricetta.portions}"></td>
            <td th:text="${ricetta.time}"></td>
            <td class="d-flex justify-content-between">
                <a th:href="@{/ricette/show/{id}(id=${ricetta.id})}">
                    <i class="fa-solid fa-book"></i></a>
                </a>
                <a th:href="@{/ricette/edit/{id}(id=${ricetta.id})}">
                    <i class="fa-solid fa-pen-to-square"></i>
                </a>
                <form th:action="@{/ricette/delete/{id}(id=${ricetta.id})}" method="post" onsubmit="return confirm('are u sure ?')">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <a class="btn btn-primary" th:href="@{/ricette/create}"> Aggiungi Ricetta </a>
    </div>
</div>
<th:block th:replace="fragments/resources :: script"></th:block>
</body>
</html>