<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/resources :: head('Dettagli Ricetta')"></head>
<body>
<nav th:replace="fragments/navbar :: topNavbar('ricette')"></nav>
<div>
    <h1>Dettagli della ricetta: <span th:text="${ricetta.title}"></span></h1>

    <div>
        <h2> Ecco i dettagli </h2>
        <img th:src="${ricetta.foto}" alt="foto">
        <p> Ricetta: <span th:text="${ricetta.recipe}"></span></p>
        <p>Descrizione: <span th:text="${ricetta.description}"></span></p>
    </div>
    <div>
        <h2>Categorie</h2>
        <ul>
            <li th:each="cat : ${ricetta.categorie}" th:text="${cat.name}"></li>
        </ul>
    </div>
    <div>
        <a th:href="@{/ricette}" class="btn btn-primary">
            <i class="fa-solid fa-arrow-left"></i> Back to list
        </a>
    </div>

</div>


<th:block th:replace="fragments/resources :: script"></th:block>
</body>
</html>